    iframe {
    width: 1200px;
    height: 4200px;
    overflow-x:hidden;
    overflow-y:hidden;
    overflow: hidden;
    }
    iframe.noScrolling{
    overflow: hidden;
    }
  
    #top {
    overflow : hidden;
    left     : 0;
    width : 460px;
    height : 3000px;
    overflow   : hidden;
    overflow-x : hidden;
    overflow-y : hidden;
    position : absolute;
    }
    iframe::-webkit-scrollbar {
    display: none; 
    }
    #bottom {
    overflow : hidden;
    left       : 480px;
    width : 460px;
    height : 3000px;
    overflow   : hidden;
    overflow-x : hidden;
    overflow-y : hidden;
    position : absolute;
    }
    iframe::-webkit-scrollbar {
    display: none; 
    }
    iframe {
    overflow : hidden;
    }


    #cnn {
    position : absolute;
    width : 1080px;
    height : 4770px;
    -ms-transform: scale(.68);
    -moz-transform: scale(.68);
    -moz-transform-origin: 0 0;
    -o-transform: scale(.68);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(.68);
    -webkit-transform-origin: 0 0;
    -webkit-overflow-scrolling: auto;
    }

    
    #cnnl {
    position : absolute;
    width : 1080px;
    height : 4770px;
    -ms-transform: scale(.68);
    -moz-transform: scale(.68);
    -moz-transform-origin: 0 0;
    -o-transform: scale(.68);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(.68);
    -webkit-transform-origin: 0 0;
    -webkit-overflow-scrolling: auto;
    }

    #wsj {
    position : absolute;
    width : 450px;
    height : 6770px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
	-webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -webkit-overflow-scrolling: auto;
	}

    #nyt {
    position : absolute;
    width : 440px;
    height : 4770px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -webkit-overflow-scrolling: auto;
    }

    #fox {
    position : absolute;
    width : 440px;
    height : 6770px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -webkit-overflow-scrolling: auto;
    }



    #wsjl {
    width : 450px;
    height : 6770px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -webkit-overflow-scrolling: auto;
    }

    #nytl {
    width : 440px;
    height : 4770px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -webkit-overflow-scrolling: auto;
    }

    #foxl {
    width : 440px;
    height : 6770px;
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
    -o-transform: scale(1);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(1);
    -webkit-transform-origin: 0 0;
    -webkit-overflow-scrolling: auto;
    }
